.jumbotron {
	background-color: yellow;
	color: black;
	margin-top: 20px;
}

footer {
	margin-top: 15px;
	background-color: yellow;
	color: black;
}

.btn{
 padding: 0.5em;
}

.listaHoteles{
	margin: 0px 0px 0px 0px;
	border: 1px solid yellow;
	border-radius: 7px;
}

.footer-address-icon{
	padding-right: 10px;
}

//.card-img-top{
//	height: 300px;
//	 width: 500px;
//}
